doctype html
html(lang='zh-Hant')

	head

		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		meta(property='og:title' content='25sprout 1st Hackathon')
		meta(property='og:image' content='https://25sprout.github.io/1st-hackathon/static/meta.jpg')
		meta(property='og:url' content='https://25sprout.github.io/1st-hackathon')
		meta(property='og:description' content='Let\'s hack everything')

		title 25sprout 1st Hackathon

	body

		.confuseing-typing

		.banner-section

			.countdown-timer
				.days
					.value
					span DAYs
				.hours
					.value
					span HR
				.minutes
					.value
					span MIN
				.seconds
					.value
					span SEC

			img.cat(src=require('../images/cat.png'))

			.title

		.project-wrapper
			.main
				.title 【社群】不要再用 PicSee，看看 awesome-share 吧
				.information
					.members
						.member-sticker
							img.sticker(src=require('../images/sticker/cathy.png'))
							.name Cathy
					.block
						a.link LINK
			.description
				| 目標：利用 Firebase 製作社群媒體用的分享頁面
				br
				br
				| 製作物：
				br
				| 製作一個網頁可以自己上傳圖片、連結、Meta 內容
				| 儲存於 Firebase
				| 產生分享連結
				| 可以在同一頁面撰寫 PO 文，一鍵分享至 Facebook
				br
				br
				| 優化：
				br
				| 如果連結是 Youtube, 會自動抓取圖片網址，標題等。
