.banner-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	& > .countdown-timer {
		margin-bottom: -40px;
	}

	& > .cat {
		width: 319px;
		height: 242px;
	}

	& > .title {
		display: block;
		width: 240px;
		height: 128px;
		position: relative;
		background-image: url(../images/title.png);
		background-size: 100%;

		&::before,
		&::after {
			content: '';
			width: 100px;
			height: 3px;
			background-color: var(--darkBlack);
			border-radius: 2px;
			position: absolute;
			left: -130px;
			top: calc(50% + 7px);
		}

		&::after {
			left: auto;
			right: -130px;
		}
	}
}
