@import 'https://fonts.googleapis.com/css?family=Just+Another+Hand';

:root {
	--daysValueSize: 150px;
	--hoursValueSize: 90px;
	--minutesValueSize: 60px;
	--secondsValueSize: 120px;
}

.countdown-timer {
	font-family: 'Just Another Hand';
	width: 387px;
	height: 180px;
	letter-spacing: 5px;
	position: relative;

	& > .days {
		font-size: calc(var(--daysValueSize) / 2);

		& > .value {
			font-size: var(--daysValueSize);
			margin-bottom: -30px;
		}
	}

	& > .hours {
		font-size: calc(var(--hoursValueSize) / 2);
		position: absolute;
		left: 140px;
		top: 30px;

		& > .value {
			font-size: var(--hoursValueSize);
			margin-bottom: -15px;
		}
	}

	& > .minutes {
		font-size: calc(var(--minutesValueSize) / 2);
		position: absolute;
		left: 230px;
		top: 30px;

		& > .value {
			font-size: var(--minutesValueSize);
			margin-bottom: -10px;
		}
	}

	& > .seconds {
		font-size: calc(var(--secondsValueSize) / 2);
		position: absolute;
		left: 300px;
		bottom: -15px;

		& > .value {
			font-size: var(--secondsValueSize);
			margin-bottom: -30px;
		}
	}
}
