body {
	/**
	 * just want to prevent chrome default behavior
	 */
	/* stylelint-disable property-no-unknown */
	overflow-anchor: none;
	/* stylelint-enable property-no-unknown */
}

body.invert {
	background-color: #000;
	filter: invert(1);
}
