.member-sticker {
	margin: 10px 0;
	text-align: center;

	& > .sticker {
		width: 100px;
		height: 100px;
	}

	& > .name {
		font-size: 30px;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 720px) {
	.member-sticker {
		box-sizing: border-box;

		& > .sticker {
			width: 80px;
			height: 80px;
		}
	}
}
